# Dependabot will run on day 15 of each month at 02:54 (Europe/Berlin timezone)
version: 2
updates:
    # Maintain dependencies for GitHub Actions
    - package-ecosystem: "github-actions"
      directory: "/"
      schedule:
          interval: "cron"
          timezone: "Europe/Berlin"
          cronjob: "54 2 15 * *"
      open-pull-requests-limit: 15
    - package-ecosystem: "npm"
      directory: "/"
      schedule:
          interval: "cron"
          timezone: "Europe/Berlin"
          cronjob: "54 2 15 * *"
      open-pull-requests-limit: 15
      assignees:
          - "Black-Thunder"
      versioning-strategy: "increase"